<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9 wow fadeInDown form-dark card-shadow py-5 mx-auto" data-wow-delay="0.4s">
      <div class="row">
        <div class="col-lg-4 ml-5 mx-md-auto text-justify">
          <h3 class="my-4 pb-2"><strong>Contact information</strong></h3>
          <ul class="list-unstyled pl-5">
            <li><p>
              <i class="fa fa-map-marker mr-3"></i>Belgrade, Serbia</p></li>
            <li><p><a href="mailto:zazi@zazi.rs">
              <i class="fa fa-envelope mr-3"></i>eMail</a></p></li>
            <li><p><a href="https://www.facebook.com/zorana.p.zazi" target="_blank">
              <i class="fa fa-facebook mr-3"></i>Facebook</a></p></li>
            <li><p><a href="https://www.linkedin.com/in/zorana-petrovi%C4%87-zazi/" target="_blank">
              <i class="fa fa-linkedin mr-3"></i>LinkedIn</a></p></li>
            <li><p><a href="https://www.instagram.com/zorana_zazi/" target="_blank">
              <i class="fa fa-instagram mr-3"></i>Instagram</a></p></li>
          </ul>
        </div>
        <div class="col-lg-5 mr-md-auto">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit(); f.resetForm()" #f="ngForm">
            <h3 class="my-4 pb-2 text-center"><strong>Write to us:</strong></h3>
            <div class="md-form">
              <i class="fa fa-user prefix"></i>
              <input type="text" id="name" formControlName="name" class="form-control" mdbInputDirective data-error="Please enter First Name" data-success=" ">
              <label for="name">Your name</label>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input type="email" id="eMail" formControlName="eMail" class="form-control" mdbInputDirective data-error="Please provide valid email address" data-success=" ">
              <label for="eMail">Your email</label>
            </div>

            <div class="md-form">
              <i class="fa fa-pencil prefix"></i><textarea type="text" id="message" formControlName="message" class="md-textarea form-control" rows="3" mdbInputDirective data-error="Please provide some message" data-success=" "></textarea>
              <label for="message">Your message</label>
            </div>

            <div class="text-right mt-md-3">
              <button class="btn btn-light btn-sm waves-light" mdbWavesEffect [disabled]="f.invalid">Send
                <i class="fa fa-paper-plane-o ml-md-1"></i>
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>