<div class="container mt-5">
  <div class="row pt-5">

        <div class="col-lg-3 col-md-6 mb-5">
          <a [routerLink]="['/collections', 'okoLavirinta' ]">
            <div class="card collection-card wow fadeInLeft card-shadow-2" data-wow-delay="0.4s">
              <div class="view zoom custom-height">
                <img src="../../../../assets/images/okolavirinta/1334.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <p>"Oko Lavirinta" <i class="fa fa-angle-right"></i></p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
          <a [routerLink]="['/collections', 'dontTouchme']">
            <div class="card collection-card wow fadeInUp card-shadow-2" data-wow-delay="0.4s">
              <div class="view zoom custom-height">
                <img src="../../../../assets/images/donttouchme/008.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <p>"Don't touch me" <i class="fa fa-angle-right"></i></p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
          <a [routerLink]="['/collections', 'myWorld']">
            <div class="card collection-card wow fadeIn card-shadow-2" data-wow-delay="0.7s">
              <div class="view zoom custom-height">
                <img src="../../../../assets/images/myworld/001.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <p>"My world" <i class="fa fa-angle-right"></i></p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
          <a [routerLink]="['/collections', 'commercialShoes']">
            <div class="card collection-card wow fadeInRight card-shadow-2" data-wow-delay="0.4s">
              <div class="view zoom custom-height">
                <img src="../../../../assets/images/komercialnaobuca/104_4142.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <p>Commercial shoes <i class="fa fa-angle-right"></i></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
</div>

<!-- <div class="container mt-5">
    <div class="row pt-5">
  
      <ng-container *ngFor="let colection of collestionData">
  
        <div class="col-lg-3 col-md-6 mb-5">
          <a [routerLink]="colection.route">
            <div class="card collection-card card-shadow-2 wow {{ colection.wowEfect }}" data-wow-delay="0.4s">
              <div class="view zoom custom-height">
                <img src="{{ colection.imgSrc }}" class="img-fluid">
                <div class="stripe dark">
                  <p>"{{ colection.displayHeader }}" <i class="fa fa-angle-right"></i></p>
                </div>
              </div>
            </div>
          </a>
        </div>
  
      </ng-container>
  
    </div>
  </div> -->