.navbar {
  background-color: $bg-color-primarily;
  li {
    .mat-button {
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0;
    }
  }
}
div.mat-menu-panel{
  margin-top: 10px;
  padding: 0 10px;
  span{
    .cust-btn:hover {
      background-color: $bg-color-secondary;
      color: $txt-color;
      // font-weight: 300;
    }
  }
}