<div class="container">
  <div class="mt-5 card-body card-shadow wow fadeIn" data-wow-delay="0.7s">
    <h3 class="h3-responsive text-center">About me</h3>
    <hr class="hr-light my-md-4">
    <div class="row">
      <div class="col-lg-4 mt-5">
        <img src="../../../assets/104_5795.jpg" class="img-fluid rounded-circle z-depth-2">
      </div>
      <div class="col-lg-8">
        <h3><strong>Fashion designer: Zorana Petrovic,</strong></h3>
        <p>Born on 10.08.1987. in Belgrade</p>
        <h3>Education:</h3>
        <ul>
          <li>Leather product designer [shoes, haberdashery and clothing] (2010.), <br> Bachelor degree on the "Belgrade Polytechnic" college, Belgrade.</li>
          <li>Technician- clothes pattern maker (2006.), Textile design high school, Belgrade.</li>
        </ul>
        <h3>Designers motto:</h3>
        <p>"Having style does not mean to be seen but to be remembered."</p>
        <h4>"Zazi":</h4>
        <p>Unique clothing items that are designed for strong, confident individuals, with distinctive attitude, who want to be noticed and remembered as different from others.</p>
      </div>
    </div>
  </div>

  <div class="mt-5 card-body card-shadow wow fadeInUp" data-wow-delay="0.2s">
    <h3 class="h3-responsive text-center">Public presentation:</h3>
    <hr class="hr-light my-md-4">
    <div class="row">
      <div class="col-lg-4 mt-5">
        <ul>
          <li>03.09.2011.</li>
          <p>Fashion show at Belgrade public beach "Ada"</p>
          <li>26.07.2011.</li>
          <p>Fashion show at "Naxi beach", TC "Ušće", Belgrade</p>
          <li>17.07.2011.</li>
          <p>Young designers fashion show "Creative Art", Belgrade</p>
          <li>26.04.2011.</li>
          <p>Fashion show at "Fashion week Serbia", Niš</p>
          <li>23.10.2009.</li>
          <p>Fashion show at "XV Jacobs Fashion Selection", Belgrade</p>
        </ul>
      </div>
      <div class="col-lg-4 mt-5">
        <ul>
          <li>05.03.2009.</li>
          <p>Fashion show at the culture center "Student city", Belgrade</p>

          <li>05.12.2008.</li>

          <p>Drawings and shoe exhibition at the Italian culture center, Belgrade</p>
          <p>Organized by:</p>
          <ul>
            <li>SIEPA (Foreign investments and export promotion agency)</li>
            <li>ICE (Italian foreign trade institute)</li>
          </ul>
          <li>10.10.2007.</li>
          <p>Fashion show at "XI Wellness Fashion Selection", Belgrade</p>
        </ul>
      </div>
      <div class="col-lg-4 mt-5">
        <ul>
          <li>14.06.2007.</li>
          <p>Drawings exhibition and fashion show at BIGZ, Belgrade</p>
          <li>02 – 16.11.2006.</li>
          <p>Drawings exhibition and fashion show at childrens culture center, Belgrade</p>
          <li>2006.</li>
          <p>Fashion show with the textile design high school, Belgrade</p>
          <li>26.06.2004.</li>
          <p>Fashion show at the public university "Braća Stamenković", Belgrade</p>
          <li>2002 – 2004.</li>
          <p>2 exhibitions at textile and accessories fair</p>
          <ul>
            <li>multilayer fabric</li>
            <li>bags</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div style="height: 100px;"></div>

</div>