<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true">
  <logo><a class="logo navbar-brand" routerLink="/"><strong>
    <img src="../assets/logo.png" alt="Zorana Petrovic Zazi" width="100px">
  </strong></a></logo>
  <links>
    <ul class="navbar-nav m-auto">
      <li class="nav-item waves-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mdbRippleRadius>
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link" routerLink="/biography">Biography</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active" dropdown>
        <a dropdownToggle mdbWavesEffect type="button"
          class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Collections<span class="caret"></span></a>
        <div id="dropdown-menu" *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item nav-link" [routerLink]="['/collections', 'okoLavirinta']">"Oko Lavirinta"</a>
          <a class="dropdown-item nav-link" [routerLink]="['/collections', 'dontTouchme']">"Don't touch me"</a>
          <a class="dropdown-item nav-link" [routerLink]="['/collections', 'myWorld']">"My world"</a>
          <a class="dropdown-item nav-link" [routerLink]="['/collections', 'commercialShoes']">Commercial shoes</a>
        </div>
      </li>
      <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>