<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true">
  <logo>
    <a class="logo navbar-brand" routerLink="/">
      <img src="../assets/logo.png" alt="Zorana Petrovic Zazi" width="100px">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav m-auto">
      <li *ngFor="let item of navItems" class="nav-item m-auto"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

        <button class="px-3" *ngIf="item.subPages && item.subPages.length > 0"
          mat-button [matMenuTriggerFor]="menu.subMenu">
          {{item.displayName}}
        </button>
        
        <app-menu-item #menu [subItems]="item.subPages"></app-menu-item>
        
        <button class="px-3" *ngIf="!item.subPages || item.subPages.length === 0"
        mat-button [routerLink]="item.route">
        {{item.displayName}}
        </button>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li *ngFor="let socItem of socItems" class="nav-item">
        <a href="{{socItem.route}}" target="_blank" class="nav-link"><i class="{{socItem.class}}"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>