@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'styles/variables';
@import 'styles/navbar';
@import 'styles/form';
@import 'styles/lightbox';

body {
  background: url(assets/bg.png) center bottom fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: $txt-color;
  overflow-y: scroll !important;
  
  .card-shadow {
    background-color: $bg-color-primarily;
    box-shadow: $white-shadow;
  }
  .router-class {
    .container {
      min-height: 79.5vh;
      a.btn {
        font-size: 1rem;
        letter-spacing: 2px;
        background-color: $bg-color-primarily !important;
        box-shadow: $white-shadow;
      }
      a,
      .fa-lg {
        color: $txt-color;
        .view {
          cursor: pointer;
        }
      }
    }
  }
  footer {
    background-color: $bg-color-primarily;
    font-size: 1rem;
  }
}